
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --gray:#D1D5DB;

    --primaryColor:#6EE7B7;
}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.inline-list{
    list-style: none;
    display: inline;
    padding: 0rem .6rem;
    float: right;
}
nav{
    text-align: left;
    padding: 0.2rem 2rem 2rem .2rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
    margin: 10px;
    background-color: var(--primaryColor);
}
