:root{
    --primaryColor:#6EE7B7;
    --gray:#D1D5DB;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
font-family: 'Open Sans', sans-serif;
text-align: center;
}
h1{
    text-align: center;
    
}
#project-btn{

    padding: 1rem;
 
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--gray);
}
#blog-btn{
    border-radius: .5rem;
    padding: 1rem;
    text-decoration: none;
    background-color: var(--primaryColor);
text-align: center;
}


#img-holder{
width: 720px;
height: 600px;
margin: 50px auto;

background: transparent;
    background-image: url(https://cdn.dribbble.com/users/4705093/screenshots/9705461/green_leaf_water_drop_4x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}



.inline-list{
    list-style: none;
    display: inline;
    padding: 0rem .6rem;
   /* background-color: var(--primaryColor);  */
    float: right;
}
.non-bullet{
    background-color:var(--primaryColor);
   
}
nav{
    text-align: left;
    padding: 0.2rem 2rem 2rem .2rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
    margin: 10px;
    background-color: var(--primaryColor);
}
.inline-bottom-nav-list{
    list-style: none;
    
    display: inline;
    padding: .2rem ;
    text-align: center;
}
#bottom-nav{
    margin-top: 50px;
    text-align: center;
    margin-left: 10px;
    padding-left: 32px;
    padding-top: 10px;
}
#bottom-list{
    padding-inline-start: 0px;
}
.description{
    margin: 50px auto;
    width: 600px;
    background-color:var(--gray);
    height: 60px;
border-radius: 1rem;
    text-align: center;
    padding: 20px 10px;
}

